@import "tailwindcss";
@plugin "daisyui" ;


/* font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

body{
  font-family: "Baloo Da 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #151515;
}

/* button */

.btn_css {
 padding: 0.5em;
 background: #f22303;
 color: white;
 border: none;
 border-radius: 0.5em; 
 font-size: medium;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
 margin: 0.5em;
}

.btn_css:hover {
 color: white;
}

.btn_css:after {
 content: "";
 background: #151515;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.btn_css:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

/* navbar border  */

.radius_left_right_css{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

/* rounded */

.radius_css{
    border-radius: 0.5em;
}

/* text desing */

.text_design_like_btn{
  padding: 0.5em;
 background: #f22303;
 color: white;
 border: none;
 border-radius: 0.5em;
}

/* logo button desing */

.logo_btn{
  
}

/* card design */
.card_css {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card_css:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card_css:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/* upvote icon */